export VIDEO_SHARING_APP_DB_DSN=postgres://postgres:secret@localhost/video_sharing_app?sslmode=disable
#-filestore-access-key-id=DO00DHAW8VHWAL8HVP8V
#-filestore-secret-key=ThZNMUhJHufTyk4e5wzA7FUZQAG4zsCrUB6YPyE6EX0
#-filestore-bucket-name=video-sharing-go
#-filestore-endpoint=https://nyc3.digitaloceanspaces.com